body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    --top-bar-height: 70px;
    --background: #242936;
    --background-dark: #1f2430;
    --border-color: #171b24;
}

* {
    color: #cccac2;
    font-family: Arial, Helvetica, sans-serif;
}

#top-bar {
    height: var(--top-bar-height);
    background: #1f2430;
    padding: 3px;
}

#main-view {
    width: 100%;
    height: calc(100% - var(--top-bar-height));
    background: var(--background);
}

select, input {
    background: var(--background);
    border: 2px solid var(--border-color);
    border-radius: 3px;
}

.frame {
    border: 2px solid var(--border-color);
    border-radius: 3px;
    padding: 5px;
}

.h-box, .v-box {
    display: flex;
    background: var(--background-dark);
    align-items: center;
}

.h-box {
    height: 100%;
    flex-direction: row;
    gap: 8px;
}

.v-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
